@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #19a7ce;
	--secondary: #146c94;
	--bgPrimary: #ffffff;
	--bgSecondary: #e9e7e7;
	--textPrimary: #000000;
	--textSecondary: #7a7a7a;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */
